@model List<Activity_Scheduler.Core.ViewModels.ActivityViewModel>

<a asp-action="CreateNewActivity" asp-controller="ActivityScheduler">
    <button> Create New Activity </button>
</a>
<form asp-action="Logout" asp-controller="Authentication" method="post">
    <input type="submit" value="logout">
</form>

@{
    int counter = 1;
        <table id="activityTable">
            <thead>
                <tr>
                    <th>title</th>
                    <th>description</th>
                    <th>endDate(utc)</th>
                </tr>
            </thead>
            <tbody>
                @* @foreach (var item in Model)
                {
                   <tr>
                    <td>@counter</td>
                    <td><a asp-route-id="@item.Id" asp-action="Activity" asp-controller="ActivityScheduler">@item.Title</a></td>
                    <td>@item.EndDate</td>
                    <td><a asp-route-id="@item.Id" asp-action="DeleteActivity" asp-controller="ActivityScheduler">Delete</a></td>
                   </tr> 
                } *@
            </tbody>
        </table>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var baseurl = window.location.origin;
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", baseurl + "/ActivityScheduler/GetActivities", true);
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var persons = JSON.parse(xmlhttp.responseText);
            $("#activityTable").DataTable({
                data: persons,
                columns: [
                    { "data": "title" },
                    { "data": "description" },
                    { "data": "endDate" },
                    {"data":"id",
                     "render": function(data,type,row){
                        return `<a href = ${baseurl}/ActivityScheduler/Details/${data}> Details </a>`
                    }
                    },
                    {"data":"id", 
                     "render": function(data, type, row){
                        return `<a href = ${baseurl}/ActivityScheduler/Delete/${data}> Delete </a>`
                     }
                     }
                ],
            });
        }
    };
    xmlhttp.send();
});
 </script>