@model List<Activity_Scheduler.Core.ViewModels.ActivityViewModel>

<a asp-action="CreateNewActivity" asp-controller="">
    <button> Create New Activity </button>
</a>

@{
    int counter = 1;
        <table id="activityTable">
            <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>description</th>
                    <th>endDate</th>
                </tr>
            </thead>
            <tbody>
                @* @foreach (var item in Model)
                {
                   <tr>
                    <td>@counter</td>
                    <td><a asp-route-id="@item.Id" asp-action="Activity" asp-controller="ActivityScheduler">@item.Title</a></td>
                    <td>@item.EndDate</td>
                    <td><a asp-route-id="@item.Id" asp-action="DeleteActivity" asp-controller="ActivityScheduler">Delete</a></td>
                   </tr> 
                } *@
            </tbody>
        </table>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#activityTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "@Url.Action("GetActivities", "ActivityScheduler")", 
            "type": "GET",
            "dataSrc": function(json){
                console.log(json);
                return json.data;
            }
        },
        "columns": [
            @* { "data": null }, *@
            {"data": "id"},          
            { "data": "title" },
            { "data": "description" },
            { "data": "endDate" }
        ],
        @* "columnDefs": [
            {
                "targets": 0,
                "render": function (data, type, row, meta) {
                    return meta.row + 1;
                }
            }
        ], *@
        "paging": true,
        "searching": true
    });
});
 
</script>